.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chuck {
  width: 5rem;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-radius: 30px;
  width: 10rem;
  height: 5rem;
}
