.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chuck {
  width: 5rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  margin: 1rem;
}

.explicit {
  margin-right: 1rem;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
  border-radius: 0.25rem;
  max-width: 300px;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem;
  text-align: center;
}

.quote {
  color: white;
  font-size: 16px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dc3545;
  border-color: #bd2130;
  border-style: 1px solid #dc3545;
  border-radius: 0.3rem;
  padding: .5rem .5rem;
}

.karate {
  font-weight: 500;
  font-style: bold;
  font-size: 1.2rem;
  color: white;
  padding: .5rem .5rem;
}

.fist {
  padding-bottom: .5rem;
}
